@use "_variables.scss";

footer {
    @include variables.flex-between;
    @include variables.desktop-margin;
    padding-top: 50px;
    border-bottom: 1px solid variables.$primary-color;
    .logo{
        @include variables.flex-start;
        align-items: flex-start;
        width:25%;
        img{
            margin-right: 10px;
            width:35%;
        }
        p{
            line-height: 25px;
        }
    }
    span {
        @include variables.footer-link;
    }
    ul{
       list-style: none;     
    }
    .lists{
        @include variables.flex-between;
        width:60%;
        li{
            width:20%;
        }
        p{
            margin-bottom: 20px;
        }
        .list{
            li{
                @include variables.footer-secondary-text;
                margin-bottom: 10px;
                width:100%;
            }
        }
    }
    p{
        @include variables.footer-primary-text;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1366px){
    footer{
        @include variables.tablet-margin
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px){
     footer{
        @include variables.mobile-margin
    }
}

@media screen and (max-width: 639px){
    footer{
        @include variables.mobile-margin;
        @include variables.flex-column;
        align-items: center;
        .logo{
            width:80%;
            margin-bottom: 50px;
        }
        .lists{
            width:100%;
        }
    }
}
