@use "_variables.scss";

.top-bar {
    @include variables.flex-between;
    @include variables.desktop-margin;
    align-items: center;
    border-bottom: 1px solid variables.$primary-color;
    height: 60px;
    .logo{
        width:125px;
    }
    .navbar {
        @include variables.flex-between;
        @include variables.navbar-text;
        align-items: center;
        list-style: none;
        li{
            margin:0 1rem;
            button{
                @include variables.flex-between;
                align-items: center;
                color: variables.$link-blue;
                font-size: 1rem;
                font-weight: 600;
                border: 1px solid variables.$link-blue;
                border-radius: 3px;
                padding : 10px;
                background-color: white;
                img{
                    width: 1.3rem;
                    margin-right: 5px;
                }
            }
        }
    }
    .hamburger {
        display:none;
    }
}



.hero {
    @include variables.flex-between;
    @include variables.desktop-margin;
    margin-top: 50px;
    margin-bottom: 50px;

    .text, img {
        @include variables.w-50;
        .title{
            @include variables.hero-title;
            margin-bottom: 10px;
        }
        .subtitle{
            @include variables.hero-primary-text;
            margin-bottom: 35px;
        }
        .buttons-box{
            @include variables.flex-start;
            align-items: center;
            margin-bottom: 10px;
            button{
                @include variables.flex-between;
                align-items: center;
                color: white ;
                font-size: 1rem;
                font-weight: 600;
                border: 1px solid variables.$link-blue;
                border-radius: 3px;
                padding : 5px;
                background-color:variables.$link-blue;
                img{
                    width: 1.3rem;
                    margin-right: 5px;
                }
            }
            .info{
                margin: 0 5px;
            }
        }
        .info{
            @include variables.hero-secondary-text;
        }
    }

}

@media screen and (min-width: 1024px) and (max-width: 1366px){
    .top-bar, .hero{
        @include variables.tablet-margin
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px){
    .top-bar, .hero{
        @include variables.mobile-margin;
    }    
}

@media screen and (max-width: 639px){
    .top-bar, .hero{
        @include variables.mobile-margin;
        .navbar{
            display: none;
        }
        .hamburger{
            display:flex;
        }
    }

    .hero{
        @include variables.flex-column;
        align-items: center;
    }
}

