.top-bar {
    @include flex-between;
    @include desktop-margin;
    align-items: center;
    border-bottom: 1px solid $primary-color;
}

.navbar {
    @include flex-between;
    @include navbar-text;
    list-style: none;
}

.hero {
    @include flex-between;
    @include desktop-margin;

    .text, img {
        @include w-50;
        .title{
            @include hero-title;
        }
        .subtitle{
            @include hero-primary-text;
        }
        .buttons-box{
            @include flex-start;
        }
        .info{
            @include hero-secondary-text;
        }
    }

    /* img {
        width: 50%;
        height: 100%;
    } */
}

