.process, .experience {
    background-color: $secondary-color;
}

.feedback {
    @include flex-column;
    @include desktop-margin;
}

.mixed {
    @include flex-column;
    @include desktop-margin;
    .title{
        @include section-title;
    }
    .trio {
        @include flex-between;
        .card{
            @include flex-column;
            .text{
                @include section-secondary-text;
            }
        }
    }
    hr{
        color:$primary-color;
    }
}

.row {
    @include flex-start;
    img {
        @include w-50;
    }
    [class*="text-"]{
        width:25%;
        .title{
            @include section-title;
        }
        .subtitle{
            @include section-primary-text;
        }
        .link {
            @include link-text;
        }
    }
    .text-right{
        @include column-flex-start;
        
    }
    .text-left{

    }
}